@model BookahMvcBookApp.Models.tblBook

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create","Books", FormMethod.Post, new { enctype="multipart/form - data"}))
{

    <div class="container">
        <h2>Add Book</h2>
        <div class="row">
            <div class="col-lg-4">


                <form class="bg-white p-5 contact-form">
                    <div class="form-group">
                        <span>Title:</span>
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <span>Categories:</span>
                        @Html.DropDownListFor(m => m.CatId, ViewBag.CatList as SelectList, "-- Select Category ---")
                    </div>

                    <div class="form-group">
                        <span>Author:</span>
                        @Html.TextBoxFor(m => m.Author, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <span>Description:</span>
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <span>Edition:</span>
                        @Html.TextBoxFor(m => m.Edition, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <span>ISBN:</span>
                        @Html.TextBoxFor(m => m.ISBN, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <span>Publisher:</span>
                        @Html.TextBoxFor(m => m.Publisher, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <span>Select Picture:</span>
                        <input type="file" name="Picture" />
                    </div>

                    <div class="form-group">
                        <span>Price:</span>
                        @Html.TextBoxFor(m => m.Unit, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Add Book" class="btn btn-primary py-3 px-5">
                    </div>
                </form>
                <h3 style="color:red;">@TempData["msg"]</h3>

            </div>

        </div>

    </div>
}

